.MMM-Senamhi * {
    box-sizing: border-box;
}

.MMM-Senamhi .module-content .forecast-item-daily .day-name {
    width: 100px;
    margin: auto;
    font-size: 17px;
    display: inline-block;
}

.MMM-Senamhi .module-content .forecast-item-daily .temp-container .max {
    color: #F8DD70;
    margin: auto;
    white-space: nowrap;
}

.MMM-Senamhi .module-content .forecast-item-daily .temp-container .min {
    color: #6FC4F5;
    margin: auto;
    white-space: nowrap;
}
